
.containerD{
    width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px auto;
    background-color: black;
    border-radius: 10px;
    padding: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.contD{
    width: 55%;
    border-radius: 8px;
    margin: px 10px;
    overflow: hidden;
    padding: 5px 5px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.center{
    text-align: center;
}
.if{
    margin: 10px 0px;
}
.title-description{
    font-size: 23pt;
    color: rgb(252, 242, 242);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    margin: 1px auto;
    white-space: pre-wrap;
  }
h3{
    color: black;
    background-color: rgb(226, 223, 38);
    padding: 4px 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
}

.img-filme{
    position: relative;
    align-items: center;
    justify-content: center;
    }
.img-filme svg{
    position: absolute;
    width : 100px;
    height : 100px ;
    top: 43%;
    left: 43%;
    fill: red;
    transition: 0.3s;
    filter: drop-shadow(2px 5px 3px rgb(3, 3, 3));
    -webkit-filter: drop-shadow(2px 5px 3px rgb(3, 3, 3));
}
.img-filme:hover  svg{
    fill: rgb(207, 216, 219);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.img-filme:hover{
    transition: 0.3s;
    filter: blur(1px);
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-filter: blur(1px);
    }
.ano{
    color:#E3E3E3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;}
.ano span{
    background-color: rgb(50,50, 72) ;
    padding: 6px 8px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}
.genero{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.gen{
    color:#E3E3E3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;
}
.p{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: center;
    overflow: hidden;
    padding: 0px 15px;
}
.votos strong{
    color: rgb(54, 186, 44);
    font-size: 16pt;
}
 .color{
    color:#E3E3E3;
 }
.votos{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.left{
    margin-left: 50px;
}
.left strong{
    color: rgb(226, 223, 38);


}

.iframe {
    width:90%;
    position:fixed;
    flex-direction: column;
    top:30px;
    left: 50px;
    height: 0;
    text-align: center;
    visibility: hidden;
}
.visivel{
    visibility: visible;
    transition: 3s;
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
}

.img{
    box-shadow: 3px 3px 4px white ;
    border-radius: 5px;
    width: 500px;
    height: 700px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.inform p{
    margin: 5px;
    padding: 13px;
    margin-left: 15px;
    text-align: center;
    white-space: pre-wrap;
    text-align:justify;
    background-color: rgba(50,50, 72,0.7) ;
    box-shadow: 0px 0px 5px rgba(50,50, 72,0.9) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button{
     width: 100px;
     font-size: 20pt;
     background-color: rgb(255, 0, 0);
     color: rgb(40, 237, 237);
     border-radius: 5px;
     padding: 4px 6px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
}
.inform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: -10px;

}
.inform strong{
    font-size: 24pt;
    color:hsl(348, 13%, 77%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;


}

.sect-play{
    width: 55%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px auto;
    background-color: black;
    border-radius: 10px;
    padding:0px 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

}
 
  .sect-play:fullscreen{
    width: 100vw;
    height: 100vh;

  }

@media(max-width : 1370px){
    .containerD{
        width: 700px;
    }
    .contD{
        width:350px;;
    }
    .img{
        width: 300px; 
        height: 480px;
    }
    .img-filme svg{
        width: 60px;
        height: 60px ;
        transition: 0s;
        -moz-transition: 0s;
        -ms-transition: 0s;
        -o-transition: 0s;
        -webkit-transition: 0s;
    }
    .iframe {
        left: 60px;
        height: 400px;
    }
}
@media(max-width : 750px){
    .containerD{
        width: 380px;
        flex-direction: column;
    }
    .contD{
        margin: 0px auto;
    }
    .img-filme{
        margin: 10px auto;
    }
    .iframe {
        width: 80%;
        left: 40px;
        height: 400px;
    }
    .button{
        left: 0px;
        top : 0px;
        font-size: 14pt;
    }
}