.temporada{
    display: flex;
    flex-direction: column;
    background-color: rgb(115, 109, 109);
  }
  .temporada p{
    background-color: brown;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}